html,
body {
  height: 100%;
}

body{
    /*background-image: url("../images/placeholder.jpg");*/
    background-image: url("../images/hard-summer.jpg");
    background-color: black;
    background-size: 100%;  
}


.navbar{
    /*background-image: url("../images/placeholder.jpg");*/
    background-image: url("../images/hard-summer.jpg");
    background-color: black;
    background-size: 100%;
    
}
.noNavBar{
  margin-top: 15%;
}

.search{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signInNeeded, .noEventsFound{
  margin-top: 30%;
}

.resultsRow, .signInNeeded, .mainSearch, .noEventsFound,.noUser{
  background-color: black;
  opacity: .8;
  padding: 30px;
}

#emptySearch{
  background-color: black;
  opacity: .8;
  margin-top: 15%;
  margin-block-end: -15%;
}

.form-signup, .form-signin{
  background-color: black;
  opacity: .8;
}
#inputUserNav{
  max-width: 330px;
}

#inputUser,
.form-signup,
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px;
  margin: auto;
  margin-top: 15%;
}
.form-signup .checkbox,
.form-signin .checkbox {
  font-weight: 400;
}
#inputUser,
.form-signup .form-control,
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus,
.form-signin .form-control:focus {
  z-index: 2;
}


.form-signup input [type="text"]{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
